<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CodeWithAmir | Projects | Full Stack Web Developer & UI/UX Designer</title>
    <script src="https://pl29002512.profitablecpmratenetwork.com/f2/3a/11/f23a113c475802f90e6fc551e16af2c6.js"></script>
    <meta name="google-site-verification" content="2J8DmZffIzdve6CEmCS5mkS3hK9vtjGKqrGUZhqsQJg" />
    <meta name="description"
        content="Hi, I'm Amir, a creative Full Stack Web Developer specializing in custom, animated, and high-performance websites. See my portfolio and contact me for projects.">

    <meta name="keywords"
        content="Amir Web Developer, Full Stack Developer Pakistan, Lahore UI/UX Designer, CodeWithAmir, Custom Website Developer, Freelancer">

    <meta property="og:title" content="CodeWithAmir | Digital Portfolio">
    <meta property="og:description" content="Check out my animated, professional digital portfolio.">
    <link rel="stylesheet" href="/CSS/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/Assets/CodeWithAmir-favicone.png" type="image/x-icon">
    <meta name="theme-color" content="#0f172a">
</head>

<body>
    <canvas id="smokeCanvas"></canvas>

    <canvas id="rainCanvas"></canvas>

    <div id="preloader">
        <div class="loader-content">
            <h1 class="loader-logo">CodeWith<span>Amir</span></h1>
            <div class="progress-container">
                <div class="progress-bar" id="progress"></div>
            </div>
            <p id="loader-status">Initializing Systems...</p>
        </div>
    </div>
    <nav class="navbar">
        <div class="logo">CodeWith<span>Amir</span></div>

        <div class="menu-icon" id="menuIcon" onclick="toggleMenu()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>

        <ul class="nav-links" id="navLinks">
            <li><a href="/index.html" class="nav-link">Home</a></li>
            <li><a href="../About/index.html" class="nav-link">About</a></li>
            <li><a href="../Skills/index.html" class="nav-link">Skills</a></li>
            <li><a href="../Projects/index.html" class="nav-link">Projects</a></li>
            <li><a href="../Contact/index.html" class="nav-link">Contact</a></li>
        </ul>
    </nav>
    <section id="Projects" class="Projects-section">
        <h2 class="section-title">My <span>Work</span></h2>

        <div class="project-scroll-container">
            <div class="project-grid">
                <div class="project-card">
                    <h3>Digital Clock</h3>
                    <p>Real-time JS Clock with dark theme</p>
                    <div class="skills-tag"><span>HTML5</span> <span>CSS3</span> <span>JS</span></div>
                </div>
                <div class="project-card">
                    <h3>calculator</h3>
                    <p>Glassmorphism functional calculator.</p>
                    <div class="skills-tag"><span>HTML5</span> <span>CSS3</span> <span>JS</span></div>
                </div>
                <div class="project-card">
                    <h3>Graphic Design</h3>
                    <p>5-Star rated Freelancer contests.</p>
                    <div class="skills-tag"> <span>AI</span> <span>PS</span></div>
                </div>
                <div class="project-card">
                    <h3>Best Page Onload</h3>
                    <p>Start Rocket and load the website</p>
                    <div class="skills-tag"><span> HTML5 </span> <span> CSS3 </span> <span> JS </span></div>
                </div>
                <div class="project-card">
                    <h3>Portfolio Website</h3>
                    <p>Animated Portfolio Web App</p>
                    <div class="skills-tag"> <span>HTML5</span> <span>CSS3</span> <span>JS</span></div>
                </div>ٖ
            </div>
        </div>

        <div class="project-footer">
            <a href="#Contact" class="btn contact-btn">Contect Me</a>
        </div>
    </section>


    <!-- ADD -->
    <p style="font-size: 10px; color: #666; margin-left: 200px; ">Advertisement</p>
    <div id="container-d165a28beb6c2dc081f9f7d6a922f3e0"
        style="display: flex; margin: auto; justify-content: center; align-items: center; width: 70%;"></div>
    <!-- ADD -->



    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2026 <span>CodeWithAmir</span> | All Right Reserved</p>

            <div class="footer-social">
                <a href="https://www.instagram.com/amirraza3946/" target="_blank">Instagram</a>
                <a href="https://wa.me/923027117796" target="_blank">Whats App</a>
                <a href="https://github.com/amirraza6596695-byte?tab=repositories" target="_blank">GitHub</a>
            </div>
        </div>
    </footer>
    <script src="/JS/script.js"></script>
    <script src="https://pl29002456.profitablecpmratenetwork.com/41/98/fd/4198fdb87adb7b28cf86783608702ba9.js"></script>
</body>

</html>